.image-slider{
    width : 100%;
    margin : auto;
    
}
.slides img{
    width: 100%;
    height: auto;
}
.slider-container{
    width: 100%;
    padding-top: 10px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.btn {
    text-align: center;
    margin-top: 20px;
}
.btn button{
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid black;
}
#current-slide{
    margin-top: 10px;
    text-align: center;
}